@font-face{
    font-family: myFont;
    src: url(./fonts/PPRightGothic-WideMedium.woff);
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   margin: 0;
}


.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    position: fixed;
    top: 0;
    z-index: 5;
}
.nav-items{
    width: 96.5%;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 1.8rem;
}
.download{
    width: 6.563rem;
    height: 1.875rem;
    background-color: #F9956B;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 0.938rem;
    color: #FFFFFF;
}


.hero{
    width: 100%;
    padding-top: 6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/vector1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #121212;
    position: relative;
    isolation: isolate;
    overflow:hidden;
}
.hero::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #121212;
    opacity: .9;
}
.init-txt{
    margin: auto;
    height: 14rem;
    width: 95%;
    text-align: center;
    font-family: myFont;
    overflow: hidden;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
    /* align-self: center; */
}
.init-txt h3{
    bottom: -14rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.7rem;
    line-height: 3rem;
    /* font-size: 28px;
    line-height: 31.99px; */
    color: #FFFFFF;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1.3s;
    position: relative;
}
.init-txt p{
    /* margin-bottom: -10rem; */
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    /* font-size: 0.8rem;
    line-height: 0.8rem; */
    font-size: 18px;
    line-height: 22px;
    color: #B3B3B3;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
    position: relative;
    bottom: -14rem;
}
.show-hero .init-txt h3{
    transform: translateY(-13.6rem);
}
.show-hero .init-txt p{
    transform: translateY(-13.6rem);
}
.top-display{
    height: 15rem;
    width: 320px;
    padding-left: 2rem;
    display: flex;
    align-items: end;
    justify-content: center;
}
.button {
    width: 57px;
    /* height: 47.5px; */
    position: relative;
    z-index: 2;
    bottom: 72.5px;
    left: 93.5px;
    opacity: 0;
    transition: cubic-bezier(.03,1.11,.96,1.12) .1s;
}
.iphone-top{
    /* width: 15rem; */
    width: 230px;
    /* height: 15rem; */
    /* height: 393px; */
    margin-bottom: -21.5rem;
    z-index: 0;
    position: relative;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
    left: 0px;
    /* border: 1px solid red; */
}
.menu{
    width: 11rem;
    /* margin-left: -5rem; */
    margin-bottom: -3rem;
    z-index: 1;
    position: relative;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
    right: 100px;
    /* border: 1px solid red; */
}
.show-hero .iphone-top{
    transform: translateY(-9.3rem);
}
.show-hero .menu{
    transform: translateY(-1rem);
}
.show-button .button{
    opacity: 1;
    transform: scale(1.9, 1.9) translateX(-10px);
}

.features{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, rgba(18,18,18,0.14) 0%, rgba(249,149,107,0.14) 35%, rgba(241,219,141,0.22) 100%);
}
.ft-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    width: 320px;
}
.ft-box{
    /* width: 95%; */
    padding-top: 3%;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: fadeEffect .5s;
    margin-bottom: 5rem;
    /* height: 12rem; */
    /* border: 1px solid green; */
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.receive {
    height: 8rem;
}
.transfer {
    height: 11.5rem;
    display: none;
}
.fund {
    height: 8rem;
    display: none;
}
.ft-box h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #222222;
}
.link-cont{
    width: 100%;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    width: 30%;
    height: 40px;
    color: #121212;
    background: none;
    border: none;
    border-radius: 0.5rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19.12px;
    background-color: inherit;
}
.btn:hover{
    background-color: rgba(249, 149, 107, .8);
    color: #FFFFFF;
}

.btn.clicked{
    background-color: #F9956B;
    color: #FFFFFF;
}
.heading{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #222222;
    animation: fadeEffect .5s;
    margin-bottom: 0.5rem;
}
#head2 {
    display: none;
}
#head3 {
    display: none;
}
.prg{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* font-size: 14px; */
    line-height: 1.2rem;
    color: #4D4D4D;
    margin-top: -8.3rem;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
    opacity: 0;
}
.stores {
    display: none;
}
.show-ft .prg{
    transform: translateY(8.3rem);
    opacity: 1;
}
/* .apps{
    height: fit-content;
    width: 11.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1.3s;
    opacity: 0;
}
.appstore, .playstore{
    width: 5.313rem;
    height: 1.563rem;
    border-radius: 0.25rem;
    border: 0.031rem solid #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.appstore a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.563rem;
    text-decoration: none;
    color: #121212;
}
.appstore img{
    width: 0.875rem;
}
.playstore img{
    width: 0.938rem;
}
.playstore a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.563rem;
    text-decoration: none;
    color: #121212;
}
.apps span{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.375rem;
    line-height: 0.563rem;
} */


.ft-display{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
    /* border: 1px solid blue; */
    /* height: 100%; */
}
.iphone{
    width: 9rem;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
    opacity: 0;
    /* animation: fadeEffect .1s; */
    /* position: absolute; */
}
#iphone2 {
    display: none;
}
#iphone3 {
    display: none;
}
.show-ft .iphone{
    opacity: 1;
    transform: scale(1.5, 1.5);
}



.more-details{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}
.more-details h3{
    margin-bottom: 2rem;
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #222222;
    align-self: center;
    justify-self: center;
}
.guide{
    display: grid; 
    gap: 1rem;
    grid-template-columns: 1fr;
    /* width: 17rem; */
    width: 320px;
    /* border: 1px solid red; */
    /* flex-direction: column;
    justify-content: center; */
    /* margin-bottom: 2rem; */
}
.bvnbox{
    width: 100%;
    /* width: 13.125rem; */
    /* height: 18.75rem; */
    /* height: 20rem; */
    height: 400px;
    /* margin-bottom: 2rem; */
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* justify-self: center; */
    align-items: center;
    /* background-image: url(./images/bvnbkg.svg); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    transition: 1.5s;
}
.otpbox{
    width: 100%;
    /* width: 13.125rem; */
    /* height: 18.75rem; */
    /* height: 20rem; */
    height: 400px;
    /* margin-bottom: 2rem; */
    background-color: #FBF7E4;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* padding-left: 0.5rem; */
    /* justify-self: center; */
    align-items: center;
    /* background-image: url(./images/otpbkg.svg); */
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    transition: 1.5s;
}
.pinbox{
    width: 100%;
    /* width: 13.125rem; */
    /* height: 18.75rem; */
    /* height: 20rem; */
    height: 400px;
    margin-bottom: 4rem;
    background-color: #F0F0F0;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* justify-self: center; */
    align-items: center;
    /* background-image: url(./images/bvnbkg.svg); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    transition: 1.5s;
}
/* .show-dt .bvnbox{
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.19);
}
.show-dt .otpbox{
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.19);
}
.show-dt .pinbox{
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.19);
} */
/* .bvnbox::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #F9956B;
    opacity: .8;
    border-radius: 1rem;
} */
/* .otpbox::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #F9956B;
    opacity: .8;
    border-radius: 1rem;
} */
/* .pinbox::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #F9956B;
    opacity: .8;
    border-radius: 1rem;
} */
.bvn, .otp, .pin{
    /* width: 90%; */
    /* width: 14rem; */
    width: 260px;

    transition: cubic-bezier(.03,1.11,.96,1) 1.5s;
}
.bvn {
    /* align-self: center;
    justify-self: start; */
    margin-top: -7rem;
}
.otp{
    /* align-self: center;
    justify-self: end; */
    margin-bottom: -8rem;
}
.pin {
    margin-bottom: -8.1rem;
}
.show-bvn .bvn{
    transform: translateY(-10rem);
}
.show-otp .otp{
    transform: translateY(8.7rem);
}
.show-pin .pin{
    transform: translateY(8.7rem);
}
.bvn-txt {
    /* width: 14rem; */
    width: 260px;
    height: 50%;
    margin-top: 1.5rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    transition: cubic-bezier(.03,1.11,.96,1.02) 1.5s;
    /* border: 1px solid red; */
}
.otp-txt, .pin-txt{
    /* width: 14rem; */
    width: 260px;
    height: 50%;
    margin-bottom: 1.3rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    padding-left: 0;
    transition: cubic-bezier(.03,1.11,.96,1.02) 1.5s;
    /* border: 1px solid red; */
}
.show-bvn .bvn-txt{
    transform: translateY(-10.5rem);
}
.show-otp .otp-txt{
    transform: translateY(9.5rem);
}
.show-pin .pin-txt{
    transform: translateY(9.5rem);
}
.hd{
    margin-left: 1.2rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    color: #121212;
}
.txt{
    margin-left: 1.2rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 19.6px;
    color: #666666;
}
#hd1 {
    color: #FFFFFF;
}
#txt1 {
    color: #FAFAFA;
}




.ad-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-bottom: 4rem;
}
.formbox{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    grid-column: span 2;
    height: 541px;
    width: 320px;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: 0.719528px solid #E6E6E6;;
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.12);
}
.vidbox{
    height: 40%;
    width: 100%;
    isolation: isolate;
    position: relative;
    display: flex;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 10rem;
}
.vidbox p{
    align-self: end;
    margin: 1.1rem;
    color: #999999;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 1.5rem; */
}
.vidbox span{
    color: #FFFFFF;
    font-family: myFont;
    font-weight: 400;
    font-size: 17px;
    /* line-height: 0.938rem; */
}
form {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}
form h4 {
    display: none;
}
label{
    width: 80%;
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12.22px;
    color: #121212;
}
input{
    margin-top: 5px;
    width: 100%;
    height: 2.5rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.26px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
#message{
    width: 100%;
    height: 3.5rem;
    margin-top: 5px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.26px;
    text-align: start;
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
#submit{
    width: 80%;
    height: 2.5rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.938rem;
    color: #FFFFFF;
    background-color: #F9956B;
    border: none;
    border-radius: 0.5rem;
}
.download-box{
    height: 290px;
    width: 320px;
    /* padding-top: 20%; */
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #121212;
    background-image: url(./images/bottomvector2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    position: relative;
    isolation: isolate;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 4rem;
}
.download-box::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #121212;
    opacity: 0;
    border-radius: 1.5rem;
}
.download-box h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22.85px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
}
.apps2{
    height: 94px;
    width: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.apps2 a {
    text-decoration: none;
}
.appstore2, .playstore2{
    width: 140px;
    height: 42px;
    padding-left: 8px;
    /* background-color: #121212; */
    border-radius: 8px;
    border: 0.063rem solid #FFFFFF;;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
}
.appstore2 a{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.39px;
    text-decoration: none;
    color: #FFFFFF;
}
.appstore2 img{
    width: 20px;
    margin-right: 9px;
}
.playstore2 img{
    width: 20px;
    margin-right: 9px;
}
.playstore2 a{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.39px;
    text-decoration: none;
    color: #FFFFFF;
}
.apps2 span{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* line-height: 16.39px; */
}
#contact {
    margin-bottom: 2rem;
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #222222;
    align-self: center;
    justify-self: center;
}
.friends{
    max-width: 16rem;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.connect{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.063rem solid white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.logo2{
    height: 1rem;
    margin-bottom: 13px;
}
.contact{
    width: 12rem;
    height: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.socials{
    width: 8rem;
    height: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.socials img{
    width: 0.8rem;
}
.fb{
    max-width: 0.5rem;
}
.contact a{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 0.563rem;
    color: #FFFFFF;
}
.docs{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.docs a{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 1rem;
    color: #FFFFFF;
    text-decoration: underline;
    padding-bottom: 1rem;
}


@media screen and (min-width:650px){
    .nav-items {
        width: 40rem;
        /* border: 1px solid green; */
    }
    .hero{
        height: unset;
        justify-content: center;
        padding-top: 8rem;
    }
    .top-display{
        margin-top: 10rem;
    }
    /* .iphone-top{
        width: 18rem;
        height: 18rem;
    }
    .menu{
        width: 14rem;
        margin-bottom: -4em;
        margin-left: -8rem;
    } */
    .init-txt {
        height: 10rem;
    }
    .show-hero .init-txt h3{
        transform: translateY(-12.6rem);
    }
    .show-hero .init-txt p{
        transform: translateY(-12.6rem);
    }


    .features{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
    .ft-cont {
        width: 40rem;
        /* height: 30rem; */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding-right: 10px; */
    }
    .ft-box{
        width: 60%;
        /* margin-right: 1rem; */
        height: 33rem;
    }
    .apps{
        width: fit-content;
        height: 42px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .apps a {
        text-decoration: none;
    }
    .appstore, .playstore{
        width: 140px;
        height: 42px;
        padding-left: 8px;
        margin-right: 10px;
        border-radius: 8px;
        border: 0.031rem solid #121212;
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        align-items: center;
    }
    .appstore a{
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.39px;
        text-decoration: none;
        color: #121212;
    }
    .appstore img{
        width: 20px;
        margin-right: 9px;
    }
    .playstore img{
        width: 20px;
        margin-right: 9px;
    }
    .playstore a{
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.39px;
        text-decoration: none;
        color: #121212;
    }
    .apps span{
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        /* line-height: 16.39px; */
    }
    .fund, .transfer, .receive {
        height: 16rem;
    }
    .stores {
        width: 15rem;
        display: unset;
        transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
        opacity: 0;
    }
    #stores-t {
        margin-top: -6.5rem;
    }
    #stores-f {
        margin-top: -3.5rem;
    }
    .show-ft #stores-r{
        transform: translateY(8.5rem);
        opacity: 1;
    }
    .show-ft #stores-t{
        transform: translateY(12rem);
        opacity: 1;
    }
    .show-ft #stores-f{
        transform: translateY(10.5rem);
        opacity: 1;
    }
    .ft-display {
        /* border: 1px solid blue; */
        /* height: 30rem; */
        width: 40%;
        /* margin-top: 6rem; */
        /* justify-content: end; */
        padding-left: 0.8rem;
    }
    .iphone {
        margin-top: -4rem;
    }
    /* .show-ft .iphone{
        transform: scale(1.7, 1.7);
    } */

    .guide{
        width: 40rem;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2rem;
    }
    .bvnbox {
        grid-column: span 2;
        flex-direction: row;
        padding-left: 2rem;
        padding-right: 1rem;
        align-items: start;
        height: 280px;
    }
    .otpbox, .pinbox {
        padding-left: 1.5rem;
        padding-right: 1rem;
        align-items: start;
        margin-bottom: 0;
    }
    .bvn, .otp, .pin {
        width: 230px;
    }
    .bvn {
        margin-top: -25rem;
        margin-right: 0.5rem;
    }
    .show-bvn .bvn {
        transform: translateY(13rem);
    }
    .show-otp .otp {
        transform: translateY(6.8rem);
    }
    .show-pin .pin {
        transform: translateY(6.8rem);
    }
    .show-bvn .bvn-txt{
        transform: translateY(12rem);
    }
    .otp-txt, .pin-txt {
        margin-top: -5rem;
    }
    .show-otp .otp-txt{
        transform: translateY(8rem);
    }
    .show-pin .pin-txt{
        transform: translateY(8rem);
    }
    .bvn-txt {
        /* border: 1px solid red; */
        margin-top: -8rem;
        height: 60%;
        width: 100%;
    }
    .otp-txt, .pin-txt {
        width: 100%;
    }
    .hd {
        font-size: 18px;
        /* line-height: 22.4px; */
    }
    .txt {
        font-size: 15px;
        line-height: 20px;
    }
    .heading {
        font-size: 18px;
        /* line-height: 22.4px; */
    }
    .prg {
        font-size: 15px;
        line-height: 20px;
    }
    /* #hd1 {
        color: #FFFFFF;
    }
    #txt1 {
        color: #FAFAFA;
    } */
    .friends{
        display: unset;
    }
    .friends2{
        display: none;
    }


    .formbox{
        flex-direction: row;
        width: 40rem;
        height: 25rem;
        border-radius: 1rem;
    }
    .vidbox{
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
    video{
        border-radius: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .vidbox p {
        margin: 2.1rem;
        font-size: 20px;
    }
    .vidbox span {
        font-size: 24px;
    }
    form{
        width: 50%;
        height: 100%;
        padding-top: 1rem;
        border-radius: 0;
    }
    form h4 {
        display: unset;
        align-self: baseline;
        margin-left: 1.9rem;
        font-family: myFont;
        font-weight: 500;
        font-size: 26px;
        line-height: 60px;
    }
    .download-box {
        width: 40rem;
        margin-top: 2rem;
        padding-top: 5rem;
    }
    .download-box h3{
        font-size: 22px;
        line-height: 24px;
    }
    .apps2 {
        flex-direction: row;
        width: 296px;
        height: 42px;
    }
    .friends {
        max-width: 20rem;
    }

    .connect{
        width: 40rem;
        margin-bottom: 2rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo2{
        margin-bottom: unset;
    }
    .docs{
        width: 30rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .docs a{
        margin-right: 1em;
    }
}

@media screen and (min-width:710px){
    
    .nav-items{
        width: 43.2rem;
    }
    .init-txt {
        height: 16rem;
    }
    .init-txt h3{
        font-size: 70px;
        line-height: 77.7px;
        bottom: -16rem;
    }
    .init-txt p {
        font-size: 1.375rem;
        line-height: 1.25rem;
        bottom: -16rem;
    }
    .show-hero .init-txt h3{
        transform: translateY(-14rem);
    }
    .show-hero .init-txt p{
        transform: translateY(-14rem);
    }
    .button {
        width: 83px;
        /* height: 47.5px;
        position: relative;
        z-index: 2; */
        bottom: 112px;
        left: 135px;
        /* opacity: 0;
        transition: 2s; */
        /* transform: scale(0.8, 0.8); */
    }
    .show-button .button {
        transform: scale(1.9, 1.9) translateX(-15px);
    }
    .iphone-top {
        width: 330px;
        /* height: 20rem; */
        margin-bottom: -40rem;
    }
    .show-hero .iphone-top{
        transform: translateY(-23rem);
    }
    .menu{
        /* width: 19rem; */
        width: 310px;
        margin-bottom: -7.5em;
        right: 75px;
        /* margin-left: -6em; */
    }
    .show-hero .menu{
        transform: translateY(-6rem);
    }
    
    .features h3 {
        font-size: 26px;
    }
    .ft-cont {
        width: 43rem;
    }
    .btn {
        font-size: 13px;
    }
    .ft-display {
        padding-left: 2.3rem;
    }

    .more-details h3 {
        font-size: 26px;
    }
    .guide {
        width: 43rem;
    }
    .bvnbox {
        padding-left: 3rem;
    }
    .bvn {
        margin-right: 1rem;
    }
    .otpbox, .pinbox {
        padding-right: 1.5rem;
    }
    .hd {
        font-size: 20px;
    }
    .txt {
        font-size: 16px;
    }
    .heading {
        font-size: 20px;
    }
    .prg {
        font-size: 16px;
    }

    .formbox{
        width: 43rem;
    }
    form h4 {
        margin-left: 2.1rem;
        font-size: 24px;
    }
    label {
        margin-bottom: 1rem;
    }
    .download-box{
        width: 43rem;
    }
    .download-box h3{
        font-size: 26px;
        line-height: 33px;
    }
    #contact {
        font-size: 26px;
    }
    .connect{
        width: 43rem;
    }
}

@media screen and (min-width:820px){
    .nav-items{
        width: 50rem;
    }
    .init-txt{
        width: 50rem;
    }
    /* .top-display {
        border: 1px solid red;
    } */
    .button {
        width: 83px;
        /* height: 47.5px;
        position: relative;
        z-index: 2; */
        bottom: 112px;
        left: 135px;
        /* opacity: 0;
        transition: 2s; */
        /* transform: scale(0.8, 0.8); */
    }
    .show-button .button {
        transform: scale(1.9, 1.9) translateX(-15px);
    }
    .iphone-top {
        width: 330px;
        /* height: 20rem; */
        margin-bottom: -40rem;
    }
    .show-hero .iphone-top{
        transform: translateY(-23rem);
    }
    .menu{
        /* width: 19rem; */
        width: 310px;
        margin-bottom: -7.5em;
        right: 75px;
        /* margin-left: -6em; */
    }
    .show-hero .menu{
        transform: translateY(-6rem);
    }
    
    .features {
        padding-top: 4rem;
        padding-bottom: 8rem;
    }
    .ft-cont {
        width: 50rem;
    }
    .ft-box h3 {
        font-weight: 500;
        font-size: 36px;
        padding-bottom: 0;
    }
    .fund, .transfer, .receive {
        height: 20rem;
    }
    /* .ft-display {
        border: 1px solid blue;
        height: 100%;
        width: 30rem;
    } */
    .link-cont {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    .btn {
        font-size: 14px;
        height: 51px;
    }
    .content {
        margin-bottom: 0;
    }
    .stores {
        width: 285px;
    }
    .show-ft #stores-r{
        transform: translateY(9.5rem);
        opacity: 1;
    }
    .show-ft #stores-t{
        transform: translateY(13rem);
        opacity: 1;
    }
    .show-ft #stores-f{
        transform: translateY(11.5rem);
        opacity: 1;
    }

    .heading {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    .prg {
        font-size: 18px;
        line-height: 28px;
    }
    .ft-display {
        /* padding-top: 4rem; */
        padding-left: 5rem;
    }
    .iphone {
        margin-bottom: -2rem;
    }
    .show-ft .iphone{
        transform: scale(1.7, 1.7);
    }
    
    .bvnbox{
        height: 353px;
        padding-left: 4.5rem;
    }
    .otpbox, .pinbox {
        height: 450px;
        padding-left: 2rem;
        padding-right: 3rem;
    }
    .bvn {
        margin-right: 2.5rem;
    }
    .show-bvn .bvn {
        transform: translateY(17rem);
    }
    .show-bvn .bvn-txt{
        transform: translateY(13rem);
    }
    /* .otpbox{
        margin-left: 1.8rem;
        margin-right: 1.8rem;
    } */
    .more-details h3 {
        font-weight: 500;
        font-size: 36px;
    }
    .guide {
        width: 50rem;
        overflow: hidden;
    }
    .hd{
        font-size: 26px;
        line-height: 20px;
    }
    .txt{
        font-size: 18px;
        line-height: 28px;
    }
    .otp-txt, .pin-txt {
        margin-top: -6.8rem;
    }
    .show-otp .otp-txt{
        transform: translateY(11rem);
    }
    .show-pin .pin-txt{
        transform: translateY(11rem);
    }
    .more-details{
        padding-top: 7rem;
        padding-bottom: 4rem;
    }
    
    .ad-box{
        padding-bottom: 7rem;
    }
    .formbox {
        height: 500px;
    }
    form {
        padding-top: 2rem;
    }
    form h4 {
        margin-left: 2.5rem;
        font-size: 30px;
    }
    .vidbox p {
        font-size: 20px;
    }
    .vidbox span {
        font-size: 24px;
    }
    label {
        margin-bottom: 2rem;
    }
    label:last-of-type {
        margin-bottom: 2.5rem;
    }
    label, input, #message {
        font-size: 14px;
    }
    input, #message {
        height: 48px;
    }
    #submit {
        height: 48px;
        font-size: 14px;
    }
    .download-box {
        height: 302px;
    }
    .download-box h3{
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 3rem;
    }
    .apps2 {
        margin-top: -2rem;
    }
    #contact {
        font-weight: 500;
        font-size: 32px;
    }
    .friends{
        max-width: 25rem;
    }
   
    .formbox, .download-box, .connect {
        width: 50rem;
    }
    .docs {
        width: 40rem;
    }
}

@media screen and (min-width: 1200px){
    .init-txt{
        width: 60rem;
        height: 14rem;
        /* border: 1px solid red; */
    }
    /* .init-txt h3{
        font-size: 3.8rem;
        line-height: 3.875rem;
    }
    .init-txt p{
        font-size: 1.375rem;
        line-height: 1.25rem;
    } */
    /* .iphone-top {
        width: 22rem;
        height: 22rem;
    }
    .menu{
        width: 21rem;
    } */
    .nav-items{
        width: 60rem;
        /* border: 1px solid blue; */
    }

    .features {
        padding-top: 5rem;
    }
    .ft-cont {
        width: 60rem;
    }
    .ft-box {
        height: 37.6rem;
    }
    .fund, .receive, .transfer {
        height: 30rem;
    }
    .link-cont {
        margin-top: 2.5rem;
        margin-bottom: 3rem;
    }
    .btn {
        font-size: 18px;
        font-weight: 600;
    }
    .show-ft .iphone{
        transform: scale(1.9, 1.9);
    }

    .guide {
        width: 60rem;
        overflow: hidden;
    }
    .bvnbox{
        height: 355px;
        padding-left: 6rem;
    }
    .bvn {
        margin-right: 3rem;
        width: 260px;
    }
    .otp, .pin {
        width: 260px;
    }
    .show-bvn .bvn {
        transform: translateY(14.8rem);
    }
    .show-otp .otp {
        transform: translateY(9rem);
    }
    .show-pin .pin {
        transform: translateY(9rem);
    }
    .show-otp .otp-txt{
        transform: translateY(10rem);
    }
    .show-pin .pin-txt{
        transform: translateY(10rem);
    }
    .hd{
        font-size: 30px;
        line-height: 20px;
    }
    .txt{
        font-size: 24px;
        line-height: 33.6px;
    }
    .heading {
        font-size: 30px;
        line-height: 20px;
    }
    .prg {
        font-size: 24px;
        line-height: 33.6px;
    }
    /* .show-bvn .bvn-txt{
        transform: translateY(13.5rem);
    }
    .otp-txt, .pin-txt {
        margin-top: -5rem;
    }
    .show-otp .otp-txt{
        transform: translateY(7.5rem);
    }
    .show-pin .pin-txt{
        transform: translateY(7.5rem);
    } */
    form h4 {
        margin-left: 3rem;
    }
    .friends{
        max-width: 30rem;
    }
    .formbox, .download-box, .connect {
        width: 60rem;
    }
    .docs {
        width: 50rem;
    }
}

@media screen and (min-width: 1430px){}

@media screen and (min-width: 1500px){
    .init-txt{
        width: 80rem;
        height: 17.3rem;
        /* border: 1px solid red; */
    }
    .init-txt h3{
        font-size: 100px;
        line-height: 100px;
    }
    .init-txt p{
        font-size: 2rem;
        line-height: 1.9rem;
    }
    .nav-items{
        width: 80rem;
        /* border: 1px solid red; */
    }

    /* .features {
        padding-bottom: 12rem;
    } */
    .features h3 {
        font-size: 44px;
    }
    .ft-cont {
        width: 80rem;
    }
    .ft-box {
        height: 40rem;
    }
    .btn {
        height: 62px;
        font-size: 22px;
    }
    .heading {
        font-size: 36px;
        line-height: 40px;
    }
    .prg {
        font-size: 30px;
        line-height: 36px;
    }
    .ft-box {
        /* border: 1px solid red; */
    }
    .ft-display {
        /* border: 1px solid red; */
    }
    .stores {
        width: 20rem;
    }
    /* .iphone {
        margin-top: -14rem;
    } */
    .show-ft .iphone{
        transform: scale(2.2, 2.2);
    }


    .more-details h3 {
        font-size: 44px;
        margin-bottom: 3rem;
    }
    .guide {
        width: 80rem;
        overflow: hidden;
    }
    .bvnbox {
        height: 395px;
        padding-left: 9rem;
    }
    .otpbox, .pinbox {
        height: 520px;
    }
    .bvn {
        margin-top: -30rem;
        margin-right: 7rem;
        width: 300px;
    }
    .otp, .pin {
        width: 300px;
    }
    .bvn-txt {
        margin-top: -12rem;
    }
    .otp-txt, .pin-txt {
        margin-top: -10rem;
    }
    .show-bvn .bvn {
        transform: translateY(17rem);
    }
    .show-otp .otp {
        transform: translateY(11.5rem);
    }
    .show-pin .pin {
        transform: translateY(11.5rem);
    }
    .show-bvn .bvn-txt {
        transform: translateY(16rem);
    }
    .show-otp .otp-txt{
        transform: translateY(12.5rem);
    }
    .show-pin .pin-txt{
        transform: translateY(12.5rem);
    }
    .hd {
        font-size: 36px;
        line-height: 40px;
    }
    .txt {
        font-size: 30px;
        line-height: 36px;
    }

    .formbox {
        height: 620px;
    }
    form h4 {
        margin-left: 4rem;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .vidbox p {
        font-size: 28px;
    }
    .vidbox span {
        font-size: 33px;
    }
    label {
        margin-bottom: 2rem;
    }
    label:last-of-type {
        margin-bottom: 2rem;
    }
    label, input, #message {
        font-size: 24px;
    }
    input, #message {
        height: 68px;
        margin-top: 1.1rem;
    }
    #submit {
        height: 68px;
        font-size: 24px;
    }
    .download-box {
        height: 340px;
    }
    #contact {
        font-size: 44px;
    }
    .formbox, .download-box, .connect {
        width: 80rem;
    }
    .docs {
        width: 60rem;
    }
}

/* @media screen and (min-width: 2200px){
    .nav-items{
        width: 100.2rem;
        border: 1px solid red;
    }
    .init-txt{
        width: 100rem;
        height: 30rem;
    }
    .init-txt h3{
        font-size: 6rem;
        line-height: 5.5rem;
    }
    .init-txt p{
        font-size: 3rem;
        line-height: 2.5rem;
    }
    .iphone-top{
        width: 30rem;
        height: 30rem;
    }
    .menu{
        width: 30rem;
        margin-left: -5rem;
        margin-bottom: -3rem;
        z-index: 1;
        position: relative;
        transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
    }
    .ft-cont {
        width: 100rem;
    }
    .guide {
        width: 100rem;
        overflow: hidden;
    }
    .formbox, .download-box, .connect {
        width: 100rem;
    }
    .docs {
        width: 60rem;
    }
} */