@font-face{
    font-family: myFont;
    src: url(./fonts/PPRightGothic-WideMedium.woff);
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   margin: 0;
}


.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
}
.navbar.scrolled {
    background: #121212;
    transition: background 200ms;
}
.nav-items{
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100.73px;
    height: 18px;
}
.download{
    width: 115px;
    height: 28px;
    background-color: #F7743B;
    border: none;
    border-radius: 4px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 0.938rem;
    color: #FFFFFF;
}


.hero{
    width: 100%;
    padding-top: 20vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/vector1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #121212;
    position: relative;
    isolation: isolate;
    overflow:hidden;
}
.hero::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #121212;
    opacity: .9;
}
.init-txt{
    justify-self: center;
    height: 20.5rem;
    width: 320px;
    text-align: center;
    font-family: myFont;
    overflow: hidden;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}
.init-txt h3{
    bottom: -20.2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 37.99px;
    color: #FFFFFF;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1.13s;
    position: relative;
}
.init-txt p{
    width: 85%;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B3B3B3;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
    position: relative;
    bottom: -21rem;
}
.apps {
    height: 110px;
    width: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -22rem;
    opacity: 1;
    transition: cubic-bezier(.03,1.11,.96,1.12) .9s;
    /* border: 1px solid red; */
}
.apps a {
    text-decoration: none;
}
.appstore, .playstore{
    width: 140px;
    height: 42px;
    padding-left: 8px;
    padding-bottom: 2px;
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}
.appstore a{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.39px;
    text-decoration: none;
    color: #FFFFFF;
}
.appstore img{
    width: 20px;
    margin-right: 9px;
    margin-top: 3px;
}
.playstore img{
    width: 20px;
    margin-right: 9px;
    margin-top: 4px;
}
.playstore a{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.39px;
    text-decoration: none;
    color: #FFFFFF;
}
.apps span{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
.show-hero .init-txt h3{
    transform: translateY(-19.5rem);
}
.show-hero .init-txt p{
    transform: translateY(-19rem);
}
.show-hero .apps {
    transform: translateY(-19rem);
    opacity: 1;
}
.top-display{
    margin-top: 10rem;
    width: 320px;
    padding-left: 2rem;
    display: flex;
    align-items: end;
    justify-content: center;
    /* border: 1px solid red; */
}
.button {
    width: 64px;
    position: relative;
    z-index: 2;
    bottom: 79px;
    left: 105px;
    opacity: 0;
    transition: cubic-bezier(.03,1.11,.96,1.2) .1s;
}
.iphone-top{
    width: 285.2px;
    height: 463px;
    margin-bottom: -23.5rem;
    z-index: 0;
    position: relative;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
    left: 0px;
}
.menu{
    width: 160px;
    height: 90px;
    margin-bottom: -3.2rem;
    z-index: 1;
    position: relative;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
    right: 105px;
    /* border: 1px solid red; */
}
.show-hero .iphone-top{
    transform: translateY(-9.6rem);
}
.show-hero .menu{
    transform: translateY(-1.8rem);
}
.show-button .button{
    opacity: 1;
    transform: scale(1.9, 1.9) translateX(-10.9px);
}

.features{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, rgba(18,18,18,0.14) 0%, rgba(249,149,107,0.14) 35%, rgba(241,219,141,0.22) 100%);
}
.ft-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.ft-box{
    padding-top: 3%;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.ft-box .content{
    display: none;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: fadeEffect .5s;
    margin-bottom: 5rem;
}
.content.active {
    display: block;
}
@keyframes fadeEffect {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: translateY(3px);
        opacity: 1;
    }
}
.receive {
    height: 9.8rem;
}
.transfer {
    height: 13.8rem;
    /* display: none; */
}
.fund {
    height: 11rem;
    /* display: none; */
}
.ft-box h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #222222;
}
.link-cont{
    width: 100%;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    width: 93px;
    height: 40.84px;
    color: #121212;
    background: none;
    border: none;
    border-radius: 0.5rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.12px;
    background-color: inherit;
}
.link2 {
    width: 96px;
}
.link3 {
    width: 119px;
}
.btn:hover{
    color: #F9956B;
}

.btn.clicked{
    background-color: #F9956B;
    color: #FFFFFF;
}
.heading{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #222222;
    animation: fadeEffect .5s;
    margin-bottom: 0.5rem;
}
#head2 {
    display: none;
}
#head3 {
    display: none;
}
.prg{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4D4D4D;
    margin-top: -13rem;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
    opacity: 0;
}
.stores {
    display: none;
}
.apps-f {
    display: none;
}
.show-ft .prg{
    transform: translateY(13rem);
    opacity: 1;
}
.ft-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iphone{
    width: 9rem;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
    opacity: 0;
    display: none;
}
.iphone.active {
    display: block;
}
.show-ft .iphone{
    opacity: 1;
    transform: scale(1.5, 1.5);
    filter: drop-shadow(0px 20px 8px rgba(18, 18, 18, 0.2));
}



.more-details{
    width: 100%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}
.more-details h3{
    margin-bottom: 3rem;
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #222222;
    align-self: center;
    justify-self: center;
}
.guide{
    display: grid; 
    gap: 1rem;
    grid-template-columns: 1fr;
    width: 320px;
}
.bvnbox{
    width: 100%;
    height: 400px;
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}
.otpbox{
    width: 100%;
    height: 400px;
    background-color: #FBF7E4;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.pinbox{
    width: 100%;
    height: 400px;
    background-color: #F0F0F0;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}
.bvn, .otp, .pin{
    width: 260px;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
}
.bvn {
    margin-top: -7rem;
}
.otp{
    margin-bottom: -8rem;
}
.pin {
    margin-bottom: -8.1rem;
}
.show-bvn .bvn{
    transform: translateY(-10rem);
}
.show-otp .otp{
    transform: translateY(8.7rem);
}
.show-pin .pin{
    transform: translateY(8.7rem);
}
.bvn-txt {
    width: 260px;
    height: 50%;
    margin-top: 1.5rem;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
    /* border: 1px solid red; */
}
.otp-txt, .pin-txt{
    width: 260px;
    height: 50%;
    margin-bottom: 1.3rem;
    padding-left: 0;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
    /* border: 1px solid red; */
}
.show-bvn .bvn-txt{
    transform: translateY(-10.5rem);
}
.show-otp .otp-txt{
    transform: translateY(9.5rem);
}
.show-pin .pin-txt{
    transform: translateY(9.5rem);
}
.hd{
    margin-left: 1.2rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    color: #121212;
}
.txt{
    margin-left: 1.2rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    color: #666666;
}
#hd1 {
    color: #FFFFFF;
}
#txt1 {
    color: #FAFAFA;
}


.ad-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-bottom: 4rem;
}
#contact {
    margin-bottom: 6rem;
}
.formbox{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    grid-column: span 2;
    height: 585px;
    width: 320px;
    border-radius: 1rem;
    border: 0.719528px solid #E6E6E6;;
}
.vidbox{
    height: 40%;
    width: 100%;
    isolation: isolate;
    position: relative;
    display: flex;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 10rem;
}
.vidbox p{
    align-self: end;
    margin: 1.1rem;
    color: #999999;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.vidbox span{
    font-family: myFont;
    font-weight: 400;
    font-size: 17px;
}
.vidbox span a {
    text-decoration: none;
    color: #FFFFFF;
}
form {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}
form h4 {
    display: none;
}
label{
    width: 90%;
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12.22px;
    color: #121212;
}
input{
    margin-top: 5px;
    width: 100%;
    height: 2.5rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.26px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
#message{
    width: 100%;
    height: 3.5rem;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.26px;
    text-align: start;
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
#submit{
    width: 90%;
    height: 2.5rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.938rem;
    color: #FFFFFF;
    background-color: #F9956B;
    border: none;
    border-radius: 0.5rem;
}
.download-box{
    height: 290px;
    width: 320px;
    margin-top: 3.9rem;
    padding-top: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    background-image: url(./images/bottomvector2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    position: relative;
    isolation: isolate;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 4rem;
}
.download-box::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #121212;
    opacity: 0;
    border-radius: 1.5rem;
}
.download-box h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22.85px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1.5rem;
}
.apps2 {
    height: 94px;
    width: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.animate .link2 {
    animation: blink 1s linear forwards;
    animation-delay: .3s;
}
.animate .link3 {
    animation: blink 1s linear forwards;
    animation-delay: .3s;
}
/* .link2.paused {
    animation-play-state: ;
} */
@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.apps2 a {
    text-decoration: none;
}
.appstore2, .playstore2 {
    width: 140px;
    height: 42px;
    padding-left: 8px;
    padding-bottom: 2px;
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.appstore2 a {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.39px;
    text-decoration: none;
    color: #FFFFFF;
}
.appstore2 img{
    width: 20px;
    margin-right: 9px;
    margin-top: 3px;
}
.playstore2 img{
    width: 20px;
    margin-right: 9px;
    margin-top: 4px;
}
.playstore2 a{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.39px;
    text-decoration: none;
    color: #FFFFFF;
}
.apps2 span{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
#contact2 {
    margin-bottom: 1.5rem;
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #222222;
    align-self: center;
    justify-self: center;
}
.friends{
    width: 256.87px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.swipe {
    width: 73.69px;
    height: 18px;
}
.bank3d {
    width: 61.56px;
    height: 20px;
}
.readycash {
    width: 89.62px;
    height: 20px;
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
.connect{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.063rem solid white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.logo2{
    width: 100.73px;
    height: 18px;
    margin-bottom: 13px;
}
.contact{
    width: 197px;
    height: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}
.socials{
    width: 145px;
    height: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.socials img{
    width: 24px;
    height: 24px;
}
.contact a{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.563rem;
    color: #FFFFFF;
}
.docs{
    width: 320px;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.docs p{
    margin-bottom: 1rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1rem;
    color: #FFFFFF;
    text-decoration: underline;
}
.docs a{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1rem;
    color: #FFFFFF;
    /* text-decoration: underline; */
    padding-bottom: 1rem;
}


@media screen and (min-width:403px){
    .nav-items {
        width: 80%;
    }
}

@media screen and (min-width:650px){
    .nav-items {
        width: 40rem;
    }
    .hero{
        height: unset;
    }
    .apps {
        flex-direction: row;
        width: 296px;
        height: 42px;
    }
    .init-txt {
        height: 16rem;
    }
    .init-txt p {
        width: 100%;
    }

    .features{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
    .ft-cont {
        width: 40rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .ft-box{
        width: 60%;
        height: 33rem;
    }
    .fund, .transfer, .receive {
        height: 16rem;
    }
    .apps-f {
        display: unset;
        width: 296px;
        height: 42px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        bottom: -22rem;
        opacity: 1;
        transition: cubic-bezier(.03,1.11,.96,1.12) .9s;
    }
    .apps-f a {
        text-decoration: none;
    }
    .appstore-f, .playstore-f{
        width: 140px;
        height: 42px;
        padding-left: 8px;
        padding-bottom: 2px;
        border-radius: 8px;
        border: 2px solid #121212;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
    .appstore-f {
        margin-right: 15px;
    }
    .appstore-f a{
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.39px;
        text-decoration: none;
        color: #121212;
    }
    .appstore-f img{
        width: 20px;
        margin-right: 9px;
        margin-top: 3px;
    }
    .playstore-f img{
        width: 20px;
        margin-right: 9px;
        margin-top: 4px;
    }
    .playstore-f a{
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.39px;
        text-decoration: none;
        color: #121212;
    }
    .apps-f span{
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
    }
    .stores {
        width: 15rem;
        display: unset;
        transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
        opacity: 0;
    }
    #stores-r {
        margin-top: -22rem;
        transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
        opacity: 0;
    }
    #stores-t {
        margin-top: -22rem;
        transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
        opacity: 0;
    }
    #stores-f {
        margin-top: -22rem;
        transition: cubic-bezier(.03,1.11,.96,1.13) 1s;
        opacity: 0;
    }
    .show-ft #stores-r{
        transform: translateY(13rem);
        opacity: 1;
    }
    .show-ft #stores-t{
        transform: translateY(13rem);
        opacity: 1;
    }
    .show-ft #stores-f{
        transform: translateY(13rem);
        opacity: 1;
    }
    .ft-display {
        width: 40%;
        padding-left: 2.45rem;
    }
    .iphone {
        margin-top: -4rem;
    }

    .guide{
        width: 40rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .bvnbox {
        grid-column: span 2;
        flex-direction: row;
        padding-left: 2rem;
        padding-right: 1rem;
        align-items: start;
        height: 280px;
    }
    .otpbox, .pinbox {
        padding-left: 0.8rem;
        padding-right: 1rem;
        align-items: start;
        margin-bottom: 0;
    }
    .bvn, .otp, .pin {
        width: 230px;
    }
    .bvn {
        margin-top: -25rem;
        margin-right: 0.5rem;
    }
    .show-bvn .bvn {
        transform: translateY(13rem);
    }
    .show-otp .otp {
        transform: translateY(6.8rem);
    }
    .show-pin .pin {
        transform: translateY(6.8rem);
    }
    .show-bvn .bvn-txt{
        transform: translateY(12rem);
    }
    .otp-txt, .pin-txt {
        margin-top: -5rem;
    }
    .show-otp .otp-txt{
        transform: translateY(8rem);
    }
    .show-pin .pin-txt{
        transform: translateY(8rem);
    }
    .bvn-txt {
        margin-top: -8rem;
        height: 60%;
        width: 100%;
    }
    .otp-txt, .pin-txt {
        width: 100%;
    }
    .hd {
        font-size: 18px;
    }
    .txt {
        font-size: 16px;
        line-height: 23px;
    }
    .heading {
        font-size: 18px;
    }
    .prg {
        font-size: 15px;
        line-height: 22px;
    }

    #contact {
        margin-bottom: 6rem;
    }
    .formbox{
        flex-direction: row;
        width: 40rem;
        height: 22rem;
        border-radius: 1rem;
    }
    .vidbox{
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
    video{
        border-radius: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .vidbox p {
        margin: 1.5rem;
        font-size: 20px;
    }
    .vidbox span {
        font-size: 24px;
    }
    form{
        width: 50%;
        height: 100%;
        padding-top: 2rem;
        border-radius: 0;
    }
    form h4 {
        display: unset;
        align-self: baseline;
        margin-left: 1.9rem;
        font-family: myFont;
        font-weight: 500;
        font-size: 26px;
        line-height: 60px;
    }
    label {
        margin-bottom: 1rem;
    }
    label, #submit {
        width: 80%;
    }
    .download-box {
        width: 40rem;
        margin-top: 6rem;
        padding-top: 5rem;
    }
    .download-box h3{
        font-size: 22px;
        line-height: 24px;
    }
    .apps2 {
        flex-direction: row;
        width: 296px;
        height: 42px;
    }
 
    .footer {
        padding-top: 2rem;
    }
    .connect{
        width: 40rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo2{
        margin-bottom: unset;
    }
    .contact {
        margin-bottom: 0;
    }
    .contact a {
        font-size: 14px;
    }
    .docs {
        width: 30rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .docs p {
        margin-bottom: 0;
    }
    .docs a {
        padding-bottom: 0;
    }
}

@media screen and (min-width:710px){
    
    .nav-items{
        width: 43rem;
    }
    .init-txt {
        height: 19.8rem;
        width: 43rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .init-txt h3{
        font-size: 60px;
        line-height: 68px;
        bottom: -21rem;
    }
    .init-txt p {
        font-size: 24px;
        line-height: 32px;
        bottom: -21rem;
        width: 90%;
    }
    .show-hero .init-txt h3{
        transform: translateY(-20.5rem);
    }
    .show-hero .init-txt p{
        transform: translateY(-20rem);
    }
    .button {
        width: 78px;
        bottom: 69px;
        left: 127px;
    }
    .show-button .button {
        transform: scale(1.9, 1.9) translateX(-13.1px);
    }
    .iphone-top {
        width: 330px;
        height: 561.48px;
        bottom: -8rem;
    }
    .show-hero .iphone-top{
        transform: translateY(-13rem);
    }
    .menu{
        width: 310px;
        height: 175px;
        margin-bottom: -7.5em;
        right: 75px;
    }
    .show-hero .menu{
        transform: translateY(-5rem);
    }
    
    .features h3 {
        font-size: 26px;
    }
    .ft-cont {
        width: 43rem;
    }
    .ft-display {
        padding-left: 3.65rem;
    }

    .more-details h3 {
        font-size: 26px;
    }
    .guide {
        width: 43rem;
    }
    .bvnbox {
        padding-left: 3rem;
    }
    .otpbox, .pinbox {
        padding-left: 0.5rem;
    }
    .bvn {
        margin-right: 1rem;
    }
    .hd {
        font-size: 20px;
    }
    .txt {
        font-size: 16px;
        line-height: 23px;
    }
    .heading {
        font-size: 20px;
    }
    .prg {
        font-size: 16px;
        line-height: 23px;
    }

    .formbox{
        width: 43rem;
        height: 23rem;
    }
    form h4 {
        margin-left: 2.1rem;
        font-size: 24px;
    }
    form {
        padding-top: 2.4rem;
    }
    /* label {
        margin-bottom: 1rem;
    } */
    /* #message {
        margin-bottom: 0;
    } */
    .download-box{
        width: 43rem;
    }
    .download-box h3{
        font-size: 26px;
        line-height: 33px;
    }
    .friends{
        width: 380.87px;
        height: 35px;
    }
    .swipe {
        width: 93.69px;
        height: 25px;
    }
    .bank3d {
        width: 81.56px;
        height: 28px;
    }
    .readycash {
        width: 109.62px;
        height: 28px;
    }
    #contact2 {
        font-size: 26px;
    }
    .connect {
        width: 43rem;
    }
    .docs {
        width: 31rem;
    }
}

@media screen and (min-width:820px){
    .navbar {
        height: 90px;
    }
    .nav-items{
        width: 50rem;
    }
    .logo {
        width: 134.31px;
        height: 24px;
    }
    .download {
        width: 161px;
        height: 43px;
        font-size: 14px;
    }
    .init-txt{
        width: 50rem;
        padding-left: 5rem;
        padding-right: 5rem;
        height: 18.5rem;
    }
    .show-hero .apps {
        transform: translateY(-20.3rem);
        opacity: 1;
    }
    .top-display {
        margin-top: 6rem;
    }
    
    .features {
        padding-top: 4rem;
        padding-bottom: 8rem;
    }
    .ft-cont {
        width: 50rem;
    }
    .ft-box{
        height: 34rem;
    }
    .ft-box h3 {
        font-weight: 500;
        font-size: 36px;
        padding-bottom: 0;
    }
    .fund, .transfer, .receive {
        height: 20rem;
    }
    .link-cont {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    .btn {
        font-size: 16px;
        height: 51px;
        width: 140px;
    }
    .link2 {
        width: 144px;
    }
    .link3 {
        width: 176px;
    }
    
    .content {
        margin-bottom: 0;
    }
    .stores {
        width: 285px;
    }
    .show-ft #stores-r{
        transform: translateY(14rem);
        opacity: 1;
    }
    .show-ft #stores-t{
        transform: translateY(14rem);
        opacity: 1;
    }
    .show-ft #stores-f{
        transform: translateY(14rem);
        opacity: 1;
    }

    .heading {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    .prg {
        font-size: 18px;
        line-height: 28px;
    }
    .ft-display {
        padding-left: 4.8rem;
    }
    .iphone {
        margin-bottom: -2rem;
    }
    .show-ft .iphone{
        transform: scale(1.7, 1.7);
    }
    
    .bvnbox{
        height: 353px;
        padding-left: 4.5rem;
    }
    .otpbox, .pinbox {
        height: 450px;
        padding-left: 2rem;
        padding-right: 3rem;
    }
    .bvn {
        margin-right: 2.5rem;
    }
    .show-bvn .bvn {
        transform: translateY(17rem);
    }
    .show-bvn .bvn-txt{
        transform: translateY(13rem);
    }
    .more-details h3 {
        font-weight: 500;
        font-size: 36px;
    }
    .guide {
        width: 50rem;
        overflow: hidden;
    }
    .hd{
        font-size: 26px;
        line-height: 20px;
    }
    .txt{
        font-size: 18px;
        line-height: 28px;
    }
    .otp-txt, .pin-txt {
        margin-top: -6.8rem;
    }
    .show-otp .otp-txt{
        transform: translateY(11rem);
    }
    .show-pin .pin-txt{
        transform: translateY(11rem);
    }
    .more-details{
        padding-top: 6rem;
    }
    
    .ad-box {
        padding-bottom: 7rem;
    }
    #contact {
        margin-bottom: 8rem;
    }
    .formbox {
        height: 490px;
    }
    form {
        padding-top: 2.9rem;
    }
    form h4 {
        margin-left: 2.5rem;
        margin-bottom: 0.7rem;
        font-size: 30px;
    }
    .vidbox p {
        font-size: 20px;
    }
    .vidbox span {
        font-size: 24px;
    }
    label {
        margin-bottom: 2rem;
    }
    label, input, #message {
        font-size: 14px;
    }
    input {
        height: 48px;
        margin-top: 8px;
    }
    .message {
        margin-bottom: 1.5rem;
    }
    #message {
        height: 90px;
        margin-top: 8px;
        padding-top: 15px;
    }
    #submit {
        height: 48px;
        font-size: 14px;
    }
    .download-box {
        height: 302px;
        margin-top: 8rem;
        margin-bottom: 6rem;
    }
    .download-box h3{
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 3.5rem;
    }
    .apps2 {
        margin-top: -2rem;
    }
    #contact2 {
        font-weight: 500;
        font-size: 36px;
    }
    .friends{
        width: 480.87px;
        height: 40px;
    }
    .swipe {
        width: 122.81px;
        height: 30px;
    }
    .bank3d {
        width: 92.34px;
        height: 30px;
    }
    .readycash {
        width: 134.43px;
        height: 30px;
    }
   
    .footer {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    .logo2 {
        width: 154.07px;
        height: 27.53px;
    }
    .formbox, .download-box, .connect {
        width: 50rem;
    }
    .docs {
        width: 40rem;
        padding-top: 2.5rem;
    }
    .contact {
        width: 241px;
    }
    .contact a {
        font-size: 16px;
    }
    .docs p {
        font-size: 14px;
    }
    .docs a {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px){
    .hero {
        padding-top: 15vh;
    }
    .init-txt{
        width: 900px;
        padding-left: 10rem;
        padding-right: 10rem;
        height: 20rem;
    }
    .init-txt h3{
        font-size: 68px;
        line-height: 77.7px;
    }
    .init-txt p{
        font-size: 28px;
        line-height: 44px;
    }
    .apps {
        bottom: -320px;
    }
    .show-hero .init-txt h3{
        transform: translateY(-20.5rem);
    }
    .show-hero .init-txt p{
        transform: translateY(-21rem);
    }
    .show-hero .apps {
        transform: translateY(-19.8rem);
        opacity: 1;
    }
    .top-display {
        margin-top: 5.8rem;
    }
    .nav-items{
        width: 900px;
    }

    .features {
        padding-top: 5rem;
    }
    .ft-cont {
        width: 900px;
    }
    .ft-box {
        height: 40.8rem;
    }
    .fund, .receive, .transfer {
        height: 39rem;
    }
    .link-cont {
        margin-top: 2.5rem;
        margin-bottom: 3rem;
    }
    .btn {
        font-size: 18px;
        font-weight: 600;
    }
    .ft-display {
        padding-left: 5.5rem;
    }
    .show-ft #stores-r{
        transform: translateY(21rem);
    }
    .show-ft #stores-t{
        transform: translateY(21rem);
    }
    .show-ft #stores-f{
        transform: translateY(21rem);
    }
    .show-ft .iphone{
        transform: scale(1.9, 1.9);
    }

    .guide {
        width: 900px;
        overflow: hidden;
    }
    .bvnbox{
        height: 355px;
        padding-left: 6rem;
    }
    .otpbox, .pinbox {
        height: 450px;
        padding-left: 2.2rem;
        padding-right: 3rem;
    }
    .bvn {
        margin-right: 3rem;
        width: 260px;
    }
    .otp, .pin {
        width: 260px;
    }
    .show-bvn .bvn {
        transform: translateY(14.8rem);
    }
    .show-otp .otp {
        transform: translateY(9rem);
    }
    .show-pin .pin {
        transform: translateY(9rem);
    }
    .show-otp .otp-txt{
        transform: translateY(10rem);
    }
    .show-pin .pin-txt{
        transform: translateY(10rem);
    }
    .hd{
        font-size: 30px;
        line-height: 20px;
    }
    .txt{
        font-size: 24px;
        line-height: 33.6px;
    }
    .heading {
        font-size: 30px;
        line-height: 20px;
    }
    .prg {
        font-size: 24px;
        line-height: 33.6px;
        margin-top: -19rem;
    }
    .show-ft .prg {
        transform: translateY(19.5rem);
    }
    form h4 {
        margin-left: 2.7rem;
    }
    .formbox, .download-box, .connect {
        width: 900px;
    }
    .docs {
        width: 580px;
    }
}

@media screen and (min-width: 1400px){
    .nav-items {
        width: 1000px;
    }
    .ft-cont {
        width: 1000px;
    }
    .guide {
        width: 1000px;
    }
    .ft-display {
        padding-left: 7.85rem;
    }
    .bvn {
        margin-right: 5rem;
    }
    .formbox, .download-box, .connect {
        width: 1000px;
    }
    .formbox h4 {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1500px){
    .navbar {
        height: 110px;
    }
    .logo {
        width: 164.31px;
        height: 30px;
    }
    .download {
        height: 60px;
        width: 190px;
        font-size: 18px;
    }
    .init-txt {
        width: 80rem;
        height: 22.5rem;
    }
    .init-txt h3 {
        font-size: 80px;
        line-height: 90px;
        bottom: -24rem;
    }
    .init-txt p {
        font-size: 32px;
        line-height: 46px;
        bottom: -24rem;
    }
    .show-hero .init-txt h3 {
        transform: translateY(-23.9rem);
    }
    .show-hero .init-txt p {
        transform: translateY(-23rem);
    }
    .nav-items {
        width: 80rem;
    }

    .features {
        padding-top: 7rem;
    }
    .features h3 {
        font-size: 48px;
    }
    .ft-cont {
        width: 80rem;
    }
    .content {
        height: 49rem;
    }
    .ft-box {
        height: 51rem;
    }
    .link-cont {
        margin-top: 2.5rem;
        margin-bottom: 4rem;
    }
    .btn {
        height: 68px;
        font-size: 26px;
        width: 200px;
    }
    .heading {
        font-size: 40px;
        line-height: 40px;
    }
    .prg {
        font-size: 34px;
        line-height: 46px;
        margin-top: -27rem;
    }
    .show-ft .prg {
        transform: translateY(27rem);
    }
    .ft-display {
        padding-left: 9.5rem;
    }
    .stores {
        width: 20rem;
    }
    .show-ft #stores-r{
        transform: translateY(29rem);
    }
    .show-ft #stores-t{
        transform: translateY(29rem);
    }
    .show-ft #stores-f{
        transform: translateY(29rem);
    }
    .show-ft .iphone{
        transform: scale(2.5, 2.5);
    }

    .more-details {
        padding-top: 7rem;
    }
    .more-details h3 {
        font-size: 48px;
        margin-bottom: 3.5rem;
    }
    .guide {
        width: 80rem;
        overflow: hidden;
    }
    .bvnbox {
        height: 450px;
        padding-left: 9rem;
    }
    .otpbox, .pinbox {
        height: 550px;
        padding-left: 3.5rem;
        padding-right: 5rem;
    }
    .bvn {
        margin-top: -30rem;
        margin-right: 6.5rem;
        width: 300px;
    }
    .otp, .pin {
        width: 300px;
    }
    .bvn-txt {
        margin-top: -12rem;
    }
    .otp-txt, .pin-txt {
        margin-top: -10rem;
    }
    .show-bvn .bvn {
        transform: translateY(19rem);
    }
    .show-otp .otp {
        transform: translateY(11.5rem);
    }
    .show-pin .pin {
        transform: translateY(11.5rem);
    }
    .show-bvn .bvn-txt {
        transform: translateY(17rem);
    }
    .show-otp .otp-txt{
        transform: translateY(13.3rem);
    }
    .show-pin .pin-txt{
        transform: translateY(13.3rem);
    }
    .hd {
        font-size: 40px;
        line-height: 40px;
    }
    .txt {
        font-size: 34px;
        line-height: 46px;
    }

    .formbox {
        height: 730px;
    }
    #contact {
        margin-bottom: 10rem;
    }
    form {
        padding-top: 5rem;
    }
    form h4 {
        margin-left: 3.8rem;
        font-size: 40px;
        margin-bottom: 24px;
    }
    .vidbox p {
        font-size: 28px;
        margin: 3rem;
    }
    .vidbox span {
        font-size: 33px;
    }
    label {
        margin-bottom: 3rem;
    }
    label:last-of-type {
        margin-bottom: 2rem;
    }
    label, input, #message {
        font-size: 24px;
    }
    input {
        height: 74px;
        margin-top: 1.1rem;
    }
    #message {
        height: 130px;
        margin-top: 1.1rem;
        padding-top: 25px;
    }
    #submit {
        height: 68px;
        font-size: 24px;
    }
    .download-box {
        margin-top: 10rem;
        height: 340px;
    }
    .download-box h3 {
        font-size: 48px;
        line-height: 56px;
    }
    #contact2 {
        font-size: 48px;
        margin-bottom: 2rem;
    }
    .friends{
        width: 580.87px;
        height: 50px;
    }
    .swipe {
        width: 152.81px;
        height: 38px;
    }
    .bank3d {
        width: 122.34px;
        height: 38px;
    }
    .readycash {
        width: 164.43px;
        height: 38px;
    }
    .formbox, .download-box, .connect {
        width: 80rem;
    }
    .logo2 {
        width: 194.07px;
        height: 33px;
    }
    .docs {
        width: 60rem;
    }
    .contact {
        width: 285px;
    }
    .contact a {
        font-size: 20px;
    }
    .docs p {
        font-size: 18px;
    }
    .docs a {
        font-size: 18px;
    }
}